################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Final Project
/.vs/Final Project/DesignTimeBuild/.dtbcache.v2
/.gitignore
/Final Project/Views/Account/Login.cshtml
/Final Project/Data/SeedData.cs
