@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Reset Password";

}
@model ResetPasswordVM

<div class="col-md-8 col-lg-7 col-xl-6">
    <img src="https://img.freepik.com/free-vector/reset-password-concept-illustration_114360-7966.jpg?t=st=1743097069~exp=1743100669~hmac=3d8f186aec5b241a83bdb331273d3f786c3c3aec7aab7bce0f4d07f965d51212&w=740"
         class="img-fluid" alt="Phone image">
</div>
<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
    <form method="post" asp-action="ResetPassword" asp-controller="Account">
        <h2 class="mb-4">Reset Password</h2>

        <input asp-for="Token" type="hidden" />
        <input asp-for="Email" type="hidden" />


        <div class="form-floating mb-3">
            <input asp-for="NewPass" class="form-control" id="Password" placeholder="Password">
            <label asp-for="NewPass">New Password</label>
            <span class="text-danger" asp-validation-for="NewPass">

            </span>
        </div>
    
 

        <div class="form-floating mb-3">
            <input asp-for="ConfirmPass" class="form-control" id="ConfirmPassword" placeholder="Password">
            <label asp-for="ConfirmPass">Confirm New Password</label>
            <span class="text-danger" asp-validation-for="ConfirmPass">

            </span>
        </div>

        <!-- Submit Button -->
        <div class="position-relative overflow-hidden">
            <button type="submit" class="btn  btn-primary  overflow-hidden flutter-button btn-lg w-100">Reset</button>
        </div>

     
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}