@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Forget Password";

}
@model VerifyEmailVM;

<div class="col-md-8 col-lg-7 col-xl-6">
    <img src="https://img.freepik.com/free-vector/two-factor-authentication-concept-illustration_114360-5488.jpg?t=st=1742986763~exp=1742990363~hmac=a7930ec68b2bdb8479d4a7e695c6144d3c41dae65f56c11f5da6ab9f2032e99c&w=740"
         class="img-fluid" alt="Phone image">
</div>
<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
    <form method="post" asp-action="VerifyEmail" asp-controller="Account">
        <h2 class="mb-4 ">Forget your password?</h2>

       
        <!-- Email Field -->
        <div class="form-floating mb-4">
            <input asp-for="Email" class="form-control" id="email" placeholder="Enter your Email"  autofocus>
            <label asp-for="Email">Email</label>
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>

       

        <!-- Submit Button -->
        <div class="position-relative overflow-hidden">
            <button type="submit" class="btn  btn-primary  overflow-hidden flutter-button btn-lg w-100">Reset Password</button>
        </div>

        <div class="text-center mt-2">
            <a href="/Account/Login" class="text-decoration-none " >Back to login</a>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}