@using Final_Project.ModelView
@model ChangePasswordVM
<style>
    ul{
        list-style:none;
        padding:0;
    }
</style>
<div class="w-100 h-100 ">
    <h2 class="text-center mb-4 pt-4">Change Password</h2>
 

    <div class=" row w-100 h-100 " style="margin:0;">
      <div class="col-md-6 w-100">
        <div class="card">
          <div class="card-body">
            <!-- Change Password Form -->
                    <form method="POST" asp-action="ChangePassword" asp-controller="Home" asp-area="Admin">
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        <div class="form-floating mb-3">
                            <input asp-for="CurrentPassword" required class="form-control" placeholder="Current Password">
                            <label asp-for="CurrentPassword">Current Password</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="NewPassword" class="form-control" placeholder="New Password">
                            <label asp-for="NewPassword">New Password</label>
                            <span class="text-danger" asp-validation-for="NewPassword">

                            </span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="ConFirmPassword" class="form-control" placeholder="ConFirm Password">
                            <label asp-for="ConFirmPassword">ConFirm Password</label>
                            <span class="text-danger" asp-validation-for="ConFirmPassword">

                            </span>
                        </div>

              <div class="text-center">
                            <div class="position-relative overflow-hidden">
                                <button type="submit" class="btn  btn-primary  overflow-hidden flutter-button btn-lg w-100">Change Password</button>
                            </div>

                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
